<section>
    <h3><bookmark content="Languages" level="0">Languages</h3>
    <div class="item">
        {% for language in languages %}
            {#<div style="float: left; width: 25%">#}
            <span class="languages">
                    <span class="lang-name"><bookmark content="{{ language.name }}" level="1">{{ language.name }}</span>
                    <span>({{ language.level }}{% if language.course is not empty %}{{ " - " ~ language.course }}{% endif %})</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
            </span>
        {% endfor %}
    </div>
</section>